*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: .1rem 1rem;
    background-color: #f8ebe0;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    color: #2e2e2e;
}
a{
    text-decoration: none;
    color: #2e2e2e;;
}
button:hover{
    box-shadow: 0 0 15px #851c1b;
    transform: scale(1.05);
}
 /* here head and home interface code start */
.home-head{
    background-image: linear-gradient(rgba(46,46,46,0.93),rgba(46,46,46,0.95)),url(img/bg-hero.jpg);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
/*header code*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    background-color: #2e2e2e;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-weight: 550;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #c72b28; 
}
.logo h2{
    margin: 0 0.5rem;
    font-size: 2.2rem;
    letter-spacing: .1rem;
}
.logo i{
    font-size: 2rem;
}
.head-navs a{
    margin: 0 0.5rem;
    color: #f8ebe0;
}
.head-navs button{
    font-size: .9rem;
    padding: .9rem 1.2rem;
    border: none;
    border-radius: .7rem;
    color: #f8ebe0;
    background-color: #c72b28;
    transition: 0.4s linear 0s;
}
/*Home Interface*/
.home-front{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 2rem;
}
.txt-home{
    color: #f8ebe0;
    width: 50%;
}
.txt-home h3{
    font-size: 4rem;
    margin: 0.5rem 0.5rem .5em;
}
.txt-home p{
    font-size: 1rem;
    margin: 0.5rem 0.5rem 2em;
    line-height: 1.5em;
}
.txt-home button{
    font-size: 1rem;
    padding: 1.5rem 2.2rem;
    border: none;
    border-radius: .7rem;
    color: #f8ebe0;
    background-color: #c72b28;
    transition: 0.4s linear 0s;
}
.home-dish{
    width: 40%;
    animation: round  25s linear  infinite;
    box-shadow: 0 0 50px #6a1817;
    border-radius: 50%;
}
.home-dish img{
    width: 100%;
}
@keyframes round{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.sec2-servs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.servs-card{
    box-shadow: 0 0 10px #c4bab4;
    margin: 1em 0.5em;
    padding: 1em;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: 0.3s ease-in;
}
.servs-card i{
    font-size: 3rem;
    color: #c72b28 ;
    margin: 0.5em 0.1em;
    transition: 0.3s ease-in;
}
.servs-card h4{
    font-size: 2rem;
    margin: 0.5em 0.1rem;
}
.servs-card p{
    margin: 1em 0.1rem;
    opacity: 0.8;
}
.servs-card:hover{
    background-color: #c72b28;
    color: #f8ebe0;
}
.servs-card:hover i{
    color: #f8ebe0;
}


.about-us{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.albm{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}
.albm img{
    width: 100%;
}
.albm img:nth-of-type(1){
    border-top-left-radius: 2rem;
    justify-self: right;
    align-self: self-end;
    
}
.albm img:nth-of-type(2){
    width: 80%;
    margin-top: 3rem;
    border-top-right-radius: 2rem;
    justify-self: left;
    align-self: self-end;
    
}
.albm img:nth-of-type(3){
    width: 80%;
    margin-left: 3rem;
    border-bottom-left-radius: 2rem;
    justify-self: right;
    align-self: self-start;
}
.albm img:nth-of-type(4){
    border-bottom-right-radius: 2rem;
    justify-self: left;
    align-self: self-start;
    
}
.about-intro{
    width: 60%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txt-introt h5{
    font-size: 1.7rem;
    color: #c72b28;
}
.txt-introt h3 i{
    color: #c72b28;
}
.txt-introt h3{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.txt-introt p{
    margin-bottom: 1.5rem;
    padding: 0 3rem 0 0;
}
.cnt-eff{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}
.cnt-eff p{
    
    margin: 0 5rem 0 0.5rem;
    
}
.cnt-eff span{
    font-size: 2rem;
    font-weight: 600;
    color: #c72b28;
    
}
.rm-btn button{
    font-size: 1rem;
    padding: 1.5rem 2.2rem;
    color: #f8ebe0;
    background-color: #c72b28;
    border: none;
    border-radius: .7rem;
    transition: 0.4s linear 0s;
}




.food-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt-menu h5{
    font-size: 1.7rem;
    color: #c72b28;
    text-align: center;
}
.txt-menu h3{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 1.5rem;
    padding-bottom: .6rem;
}
.s-menu{
    display: flex;
    align-items: center;
    margin-right: 2.5rem;

}
.s-menu i{
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #c72b28;
}


.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.lst-box{
    display: flex;
    margin: 1rem;
    /* width: 50%; */
    height: 100px;
    flex-grow: 1;
    box-shadow: 0 0 10px #c4bab4;
    border-radius: 1rem;
    transition: 0.3s ease-in;

}
.lst-box img{
    width: 15%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    flex-shrink: 0 !important;
}
.dish-nam{
    width: 82%;
    padding: 1rem;
}
.dish-nam .nam{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0.2rem;
}
.dish-nam p:nth-of-type(1){
    font-size: 1.5rem;
    display: inline-block;
}
.dish-nam p:nth-of-type(2){
    font-size: 1.5em;
    color: #c72b28;
    display: inline-block;
    text-align: end;
    font-weight: 600;
}

.lst-box:hover{
    transform: scale(1.02);
}

.booking{
    display: flex;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
.int-vid{
    width: 50%;
    height: 500px;
    background-image: url(img/video.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.int-vid i{
    font-size: 10rem;
    color: #c72b28;

}
.bk-form{
    width: 50%;
    background-color: #2e2e2e;
    padding: 1rem 2rem;
    color: #c4bab4;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.txt-bk{
    height: 16%;
}
.txt-bk h5{
    font-size: 1.5rem;
    color: #c72b28;
}
.txt-bk h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.rs-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 80%;
}
.inp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-evenly;
    width: 90%;
    height: 50%;
}
.inp input{
    width: 45%;
    height: 30%;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.inp select{
    width: 48%;
    height: 40%;
    font-size: 1rem;
    border-radius: 1rem;
}
.rs-form textarea{
    padding: .5rem;
    width: 90%;
    height: 30%;
    border-radius: 1rem;
}
.bk-form a{
    align-self: center;
    margin: 0.7rem;
    margin-right: 4rem;
}
.bk-form a button{
    font-size: .9rem;
    padding: .9rem 1.2rem;
    color: #f8ebe0;
    background-color: #c72b28;
    border: none;
    border-radius: .7rem;
    transition: 0.4s linear 0s;
}



.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt-team{
    height: 20%;
}
.txt-team h5{
    font-size: 1.5rem;
    color: #c72b28;
    text-align: center;
}
.txt-team h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.team-cards{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}
.cards{
    height: 400px;
    width: 18%;
    margin: 1rem;
    box-shadow: 0 0 10px #c4bab4;
    padding: 1em;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cards img{
    width: 80%;
    border-radius: 50%;
    margin: 1rem;
}
.chef-med{
    display: flex;
}
.chef-med .icon{
    margin-right: .5rem;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt-rev h5{
    font-size: 1.7rem;
    color: #c72b28;
    text-align: center;
}
.txt-rev h3{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.gvn-revs{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.rev-card{
    width: 70%;
    height: 100px;
    margin: 1rem;
}
